.nav-toggle-wrapper {
  position:fixed;
  top:40px;
  right:40px;
  transition:all .3s ease;
  z-index:1000;
}

.nav-toggle {
  cursor:pointer;
  position:relative;
  color:$black;
  transition:all .3s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

.side-nav {
  z-index:100;
  position:fixed;
  top:-1000px;
  transition:top .3s ease-in-out;
  height:100%;
  width:100%;
  background-color:rgba(white, .5);
  border-right:0;
  text-align:center;
  h1 {
    cursor: pointer;
    width:30%;
    margin: 0 auto;
    margin-bottom:10px;
    margin-top:70px;
    transition:all .3s ease-in-out;
    &:hover {
      color:$teal;
    }
  }
  h5 {
    margin-top:-20px;
    font-size:1em;
    font-weight:300;
    letter-spacing: .6em;
    text-transform:uppercase;
  }
  h4 {
    font-weight:300;
    margin-top:10px;
  }
  ul {
    margin-bottom:10px;
    li {
      position:relative;
      margin:0 auto;
      -webkit-transition: background-color .3s ease-out;
      transition: background-color .3s ease-out;
      cursor: pointer;
      &:hover {
        background-color: $teal;
        > a {
          display:block;
          color: white;
        }
      }
      a {
        font-size:2.618em;
        font-weight:100;
        transition:color .3s ease-out;
        &:hover {
          color:white;
        }
      }
    }
  }
  i.fa-close {
    position: fixed;
    top:40px;
    right:40px;
    cursor:pointer;
    transition:all .3s ease-in-out;
    &:hover {
      color:$teal;
      transform:scale(1.2);
    }
  }
  a {
    transition:all .3s ease-in-out;
    &:hover {
      color:$teal;
    }
  }

}

.sidenav-open {
  top:0px;
}

.hidden {
  display:none;
}

.nav-toggle-flush {
  right:240px;
}

.page-content {
}

.page-content-blurred {
  opacity:.5;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  overflow-y: hidden;
}
