.collapsed-table {
  display:none;
}

@media (max-width:1024px){
  .portfolio-image {
    max-height:30vh;
  }
  h3 {
    font-size:1.618em;
  }
  .header {
    .caption {
      top:70px;
    }
  }
  .about {
    .about-text {
      font-size:1.218em;
    }
  }
}

@media (max-width:878px){
  .skills i {
    margin-right:0px;
    margin-bottom:10px;
    display: inline-block;
  }
  .section-2.skills {
    margin-right:-80px;
  }
}

@media (max-width:786px){
  .skills-table {
    display:none;
  }
  .collapsed-table {
    display:block;
    margin-bottom:20px;
    text-align:left;
    p{
      margin-left:20px;
    }
  }
  .mb {
    display:none;
  }
  .nav-toggle-wrapper,
  .side-nav i.fa-close {
    top:20px;
    right:20px;
  }
  .portfolio-image {
    max-width:75%;
    height:auto;
  }
  h3 {
    font-size:1.618em;
  }
  h2 {
    font-size:2.618em;
  }
  p {
    font-size:.9em;
  }
  .subheader {
    font-size:50%;
  }
  .about img {
    height:140px;
  }
  .header{

    .caption {
      padding:10px;
    }
  }
  i.fa-chevron-right {
    right: -10px;
  }
  i.fa-chevron-left {
    left: -10px;
  }
  .container > h2 {
    font-weight:300;
    text-shadow:none;
  }
  .resume-link {
    display:block;
  }
  .about .about-text {
    font-size:1.218em;
    width:100%;
  }
  h1 {
    font-size: 4.236em;
  }
  h3 {
    font-size:1.618em;
  }
  section:nth-child(even) {
    padding-bottom:100px;
  }
  .container {
    width:65%;
  }
  .side-nav {
    ul {
      li {
        a {
          font-size:1.618em;
        }
      }
    }
  }
}

@media (max-width: 600px){
  i.fa-chevron-right,
  i.fa-chevron-left {
    display:none !important;
  }
}

@media (max-width: 420px) {
  .arrow-wrapper {
    bottom:20%;
  }
  .header {
    .caption-wrapper {
      margin-top:0px;
      width:85%;
    }
  }
  .side-nav ul li a, h4 {
    font-size:1.218em;
  }
  .logo-wrapper {
    display:none;
  }
}

@media (max-width: 320px) {
  .header {
    .caption-wrapper {
      h3 {
        font-size:1em;
      }
    }
  }
  .side-nav {
    h1 {
      margin-top:20px;
    }
  }
}
