@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,900);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  background: transparent;
  text-decoration: none;
  color: inherit; }
  a:visited {
    color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none; }
  a:hover, a:active {
    outline: 0; }

ul {
  list-style-type: none; }

b,
strong {
  font-weight: bold; }

small {
  font-size: 80%; }

img {
  border: 0; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/* .module {
    text-align:center;
    background-color:  $gray-light;
    border-radius: 4px;
    padding-top:20px;
    padding-bottom:20px;
} */
.container {
  width: 80%;
  max-width: 1024px;
  margin: 0px auto; }

.row {
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: 1em; }
  .row:before, .row:after {
    content: "";
    display: table;
    clear: both; }

.row-flush {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 1em; }
  .row-flush:before, .row-flush:after {
    content: "";
    display: table;
    clear: both; }

[class^='col-'] {
  float: left;
  min-height: 40px;
  width: 8.333333%;
  padding: 0 1em; }

[class^='col-'] {
  transition: all .3s ease; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.center {
  margin: 0 auto;
  margin-bottom: 1em;
  float: none; }

[class^='fixcol-'] {
  float: left;
  padding: 0 1em; }

.fixcol-third {
  width: 33.33333%; }

.fixcol-half {
  width: 50%; }

.fixcol-two-thirds {
  width: 66.66667%; }

.fixcol-quarter {
  width: 25%; }

.fixcol-three-quarters {
  width: 75%; }

@media only screen and (max-width: 1024px) {
  [class^='col-'],
  [class^='fixcol-'] {
    padding: 0 0.5em; }

  .row {
    margin-left: -0.5em;
    margin-right: -0.5em; } }
@media only screen and (max-width: 768px) {
  [class^='col-'],
  [class^='fixcol-'] {
    margin-bottom: 1em; }

  .row {
    margin-bottom: 0; } }
@media only screen and (max-width: 480px) {
  [class^='col-'] {
    width: 100%;
    margin-bottom: 1em; }

  .col-1 {
    width: 50%; } }
@media only screen and (max-width: 320px) {
  [class^='col-'] {
    padding: 0 0.25em; }

  .container {
    width: 100%; }

  .row {
    margin-left: 0.25em;
    margin-right: 0.25em; } }
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #343434;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 6.854em; }

h2 {
  font-size: 4.236em; }

h3 {
  font-size: 2.618em; }

h4 {
  font-size: 1.618em; }

p {
  font-size: 1em; }

h2, h3, h4, h5, h6 {
  font-weight: normal; }

h3 {
  font-weight: 100; }

.nav-toggle-wrapper {
  position: fixed;
  top: 40px;
  right: 40px;
  transition: all .3s ease;
  z-index: 100; }

.nav-toggle {
  cursor: pointer;
  position: relative;
  /*   i.fa-reorder {
    transition:all .3s ease-in-out;
    &:hover {
      color:$teal;
    }
  } */
  color: #343434;
  transition: all .3s ease-in-out; }

.side-nav {
  z-index: 100;
  position: fixed;
  top: -1000px;
  transition: top .3s ease-in-out;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-right: 0;
  text-align: center; }
  .side-nav h1 {
    cursor: pointer;
    transition: all .3s ease-in-out; }
    .side-nav h1:hover {
      color: #45B29D; }
  .side-nav h5 {
    margin-top: -20px;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: .6em; }
  .side-nav h4 {
    font-weight: 100;
    margin-top: 10px; }
  .side-nav ul {
    margin-bottom: 10px; }
    .side-nav ul li {
      position: relative;
      width: 150px;
      margin: 0 auto;
      /*       a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -4px;
        left: 0;
        background-color:$teal;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transition: all .3s ease-in-out;
      }
      a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      } */ }
      .side-nav ul li a {
        font-size: 2.618em;
        font-weight: 100;
        transition: all .3s ease-in-out; }
        .side-nav ul li a:hover {
          color: #45B29D; }
  .side-nav i.fa-close {
    position: fixed;
    top: 40px;
    right: 40px;
    cursor: pointer;
    transition: all .3s ease-in-out; }
    .side-nav i.fa-close:hover {
      color: #45B29D; }
  .side-nav a {
    transition: all .3s ease-in-out; }
    .side-nav a:hover {
      color: #45B29D; }

.sidenav-open {
  top: 0px; }

.hidden {
  display: none; }

.nav-toggle-flush {
  right: 240px; }

.page-content-blurred {
  opacity: .5;
  filter: blur(5px);
  -webkit-filter: blur(5px); }

.arrow-up-wrapper {
  position: fixed;
  height: 0px; }

section {
  min-height: 100vh;
  padding-top: 40px;
  position: relative; }
  section h2 {
    color: #FEFEFA; }

.headshot {
  height: 20vh;
  width: auto;
  border-radius: 50%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  cursor: pointer;
  padding: 6px;
  border: 2px solid #343434;
  transition: all .3s ease-in-out; }
  .headshot:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    border-color: #45B29D; }

.grad,
.grad-reverse {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 1; }

.grad div:nth-child(1) {
  background-color: #d4efea;
  height: 3vh;
  width: 100%; }

.grad div:nth-child(2) {
  background-color: #8bd2c4;
  height: 6vh;
  width: 100%; }

.grad div:nth-child(3) {
  background-color: #72c9b8;
  height: 9vh;
  width: 100%; }

.grad div:nth-child(4) {
  background-color: #66c4b2;
  height: 12vh;
  width: 100%; }

.grad-reverse {
  z-index: -0; }

.grad-reverse div:nth-child(1) {
  background-color: #66c4b2;
  height: 12vh;
  width: 100%; }

.grad-reverse div:nth-child(2) {
  background-color: #72c9b8;
  height: 9vh;
  width: 100%; }

.grad-reverse div:nth-child(3) {
  background-color: #8bd2c4;
  height: 6vh;
  width: 100%; }

.grad-reverse div:nth-child(4) {
  background-color: #d4efea;
  height: 3vh;
  width: 100%; }

.section-0,
.section-1,
.section-2,
.section-3 {
  background-color: #66c4b2;
  padding-bottom: 20px; }

.header {
  padding-top: 0px;
  position: relative;
  min-height: 100vh; }
  .header .caption-wrapper {
    width: 75%;
    margin: 0 auto; }
  .header .caption {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    position: fixed;
    top: 2vh;
    left: 0px;
    z-index: 0; }
    .header .caption h4 {
      margin-top: -20px;
      margin-bottom: 40px;
      font-weight: 300;
      letter-spacing: .25em; }
    .header .caption h3 {
      margin-bottom: 20px; }

.arrow-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  width: 100px;
  text-align: center; }
  .arrow-wrapper i.fa-chevron-down {
    cursor: pointer;
    transition: all .3s ease;
    color: white;
    text-shadow: 0px 1px 0px gray; }
    .arrow-wrapper i.fa-chevron-down:hover {
      -webkit-animation: upDown 2s infinite;
      -moz-animation: upDown 2s infinite;
      -o-animation: upDown 2s infinite;
      animation: upDown 2s infinite; }

.about {
  color: white; }
  .about h4 {
    text-align: left;
    width: 80%;
    margin: 0 auto; }
  .about table {
    margin: 0 auto;
    margin-bottom: 20px; }
  .about td {
    font-size: 1.218em;
    vertical-align: top; }
  .about td:first-child {
    text-align: right; }
  .about td:last-child {
    padding-left: 10px;
    text-align: left;
    font-weight: 300; }
  .about .row {
    text-align: center; }
  .about .about-text {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.618em;
    margin-bottom: 20px;
    font-weight: 300; }
    .about .about-text a {
      color: black;
      text-decoration: underline;
      transition: all .3s ease-in-out; }
      .about .about-text a:hover {
        color: white; }
  .about img {
    border-color: white;
    height: 240px;
    vertical-align: middle;
    margin: 0 auto;
    margin-bottom: 20px;
    display: inline-block; }

.contact form {
  width: 75%;
  margin: 0 auto; }
  .contact form textarea {
    resize: none;
    height: 240px; }
  .contact form input,
  .contact form textarea {
    font-size: 1.2em;
    color: #343434;
    background-color: transparent;
    border: 0;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: thin solid transparent;
    transition: all .3s ease-in-out; }
    .contact form input:focus,
    .contact form textarea:focus {
      outline: none;
      background-color: #8bd2c4; }
  .contact form input {
    padding-bottom: 2px; }

::-webkit-input-placeholder {
  color: #343434; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #343434; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #343434; }

:-ms-input-placeholder {
  color: #343434; }

.flat3D {
  -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(-20deg) scale(0.8);
  transform: rotateX(50deg) rotateY(0deg) rotateZ(-20deg) scale(0.8);
  opacity: 1;
  transition: all .5s ease; }
  .flat3D:hover {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1); }
  .flat3D img {
    display: inline-block;
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    box-shadow: -10px 10px 30px rgba(52, 52, 52, 0.5);
    margin-top: 20px;
    margin-bottom: 20px; }

.portfolio {
  text-align: center; }

.portfolio-item {
  color: white; }
  .portfolio-item a {
    color: black;
    text-decoration: underline;
    transition: all .3s ease-in-out; }
    .portfolio-item a:hover {
      color: white; }
  .portfolio-item small {
    display: block;
    margin-bottom: 10px; }

.top-arrow-wrapper {
  z-index: 100;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 2.5%;
  color: white; }
  .top-arrow-wrapper i.fa-chevron-down {
    text-shadow: 0px 1px 0px gray;
    cursor: pointer; }

.portfolio-text {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%; }

.portfolio-image {
  margin: 0 auto;
  max-width: auto;
  height: 40vh;
  border-radius: 4px; }

i.fa-chevron-left {
  left: 0px; }
  i.fa-chevron-left:hover {
    transform: translateX(-6px); }

i.fa-chevron-right {
  right: 0px; }
  i.fa-chevron-right:hover {
    transform: translateX(6px); }

.slider-control {
  color: white;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transition: all .3s ease-in-out;
  text-shadow: 0px 1px 0px gray; }

.container > h2 {
  font-weight: 300;
  text-shadow: 2px 2px 0px gainsboro; }

.skills {
  color: white; }
  .skills .col-three-quarters {
    margin: 0 auto;
    text-align: center; }
  .skills .arrow-wrapper {
    margin-top: 100px; }
  .skills h2 {
    margin-bottom: 40px; }
  .skills .row {
    text-align: center; }
    .skills .row ul > li {
      margin-bottom: 5px; }
    .skills .row h4 {
      font-weight: 300;
      margin-bottom: 10px; }
    .skills .row h3 {
      margin-bottom: 20px; }
  .skills i {
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 3.6em;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all .5s ease;
    display: inline-block; }
    .skills i:hover {
      transform: scale(1.2);
      -moz-transform: scale(1.2); }
  .skills i:last-child {
    margin-right: 0px; }

.subheader {
  color: gainsboro;
  font-size: 40%;
  text-shadow: none; }

.text-center {
  text-align: center; }

.contact {
  color: white; }
  .contact .row {
    margin-top: 20vh; }
  .contact h3 {
    margin-bottom: 20px; }
  .contact a {
    color: white;
    transition: all .3s ease-in-out;
    border-bottom: thin solid transparent; }
    .contact a:hover {
      border-bottom-color: white; }

.magento-logo {
  display: inline;
  width: 58px;
  height: 58px;
  transition: all .5s ease;
  cursor: pointer; }
  .magento-logo:hover {
    transform: scale(1.2); }

.fb {
  position: relative;
  font-size: 1em;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  color: #FEFEFA;
  padding: 10px;
  border: 0;
  background-color: transparent;
  border-radius: 6px;
  transition: all .2s ease;
  min-width: 100px; }
  .fb:active {
    outline: none; }
  .fb:focus {
    outline: none; }
  .fb:hover {
    opacity: .8; }

.fb-thin {
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px; }

.fb-fw {
  width: 100%;
  display: block; }

.fb-yes {
  background-color: #45B29D;
  border: thin solid #378d7d;
  box-shadow: 3px 3px 0px #378d7d; }
  .fb-yes:active {
    box-shadow: 1px 1px 0px #378d7d;
    transform: translate(2px, 2px); }

.fb-no {
  background-color: #DF5A49;
  border: thin solid #d03825;
  box-shadow: 3px 3px 0px #d03825; }
  .fb-no:active {
    box-shadow: 1px 1px 0px #d03825;
    transform: translate(2px, 2px); }

.fb-maybe {
  background-color: #EFC94C;
  border: thin solid #ebbb1d;
  box-shadow: 3px 3px 0px #ebbb1d; }
  .fb-maybe:active {
    box-shadow: 1px 1px 0px #ebbb1d;
    transform: translate(2px, 2px); }

.fb-ok {
  background-color: #3D1A70;
  border: thin solid #261047;
  box-shadow: 3px 3px 0px #261047; }
  .fb-ok:active {
    box-shadow: 1px 1px 0px #261047;
    transform: translate(2px, 2px); }

.fb-sure {
  background-color: #23668A;
  border: thin solid #194861;
  box-shadow: 3px 3px 0px #194861; }
  .fb-sure:active {
    box-shadow: 1px 1px 0px #194861;
    transform: translate(2px, 2px); }

.mb {
  position: relative;
  font-size: 1em;
  box-sizing: border-box;
  cursor: pointer;
  padding: 10px;
  border: thin solid #343434;
  color: #343434;
  border-radius: 4px;
  width: 160px;
  margin: 0 auto;
  margin-bottom: 20px;
  transition: all .3s ease;
  display: inline-block; }

.mb-fill {
  background-color: transparent; }
  .mb-fill:before {
    -webkit-transition: all .3s ease;
    position: absolute;
    background-color: #343434;
    content: "";
    z-index: -1000; }
  .mb-fill:hover {
    color: #FEFEFA; }

.mb-fill-up:before {
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0; }
.mb-fill-up:hover {
  color: #FEFEFA; }
  .mb-fill-up:hover::before {
    top: 0; }

.mb-fill-dn:before {
  bottom: 100%;
  top: 0;
  left: 0;
  right: 0; }
.mb-fill-dn:hover {
  color: #FEFEFA; }
  .mb-fill-dn:hover::before {
    bottom: 0; }

.mb-fill-r:before {
  bottom: 0;
  top: 0;
  left: 0;
  right: 100%; }
.mb-fill-r:hover {
  color: #FEFEFA; }
  .mb-fill-r:hover::before {
    right: 0; }

.mb-fill-l:before {
  bottom: 0;
  top: 0;
  left: 100%;
  right: 0; }
.mb-fill-l:hover {
  color: #FEFEFA; }
  .mb-fill-l:hover::before {
    left: 0; }

.mb-slide {
  display: inline-block;
  background-color: transparent;
  height: 60px;
  font-size: 1.618em;
  font-weight: 300; }
  .mb-slide:before, .mb-slide:after {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.mb-slide-vert:before {
  left: 0;
  content: "login";
  top: 10px; }
.mb-slide-vert:after {
  left: 0;
  top: -50%;
  opacity: 0;
  content: "let's go!"; }
.mb-slide-vert:hover:before {
  top: -50%;
  opacity: 0; }
.mb-slide-vert:hover:after {
  top: 10px;
  opacity: 1; }

.mb-slide-horz:before {
  content: "don't be shy!";
  left: -50%;
  opacity: 0; }
.mb-slide-horz:after {
  content: "let's talk";
  left: 0; }
.mb-slide-horz:hover:before {
  left: 0;
  opacity: 1; }
.mb-slide-horz:hover:after {
  left: -50%;
  opacity: 0; }

@-webkit-keyframes upDown {
  0%, 100% {
    -webkit-transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(0px, 20px); } }
@-moz-keyframes upDown {
  0% {
    -moz-transform: translate(0px, 0px); }
  50% {
    -moz-transform: translate(0px, 20px); } }
@-o-keyframes upDown {
  0% {
    -o-transform: translate(0px, 0px); }
  50% {
    -o-transform: translate(0px, 20px); } }
@keyframes upDown {
  0% {
    transform: translate(0px, 0px); }
  50% {
    transform: translate(0px, 20px); } }
@media (max-width: 1024px) {
  .portfolio-image {
    max-height: 30vh; } }
@media (max-width: 878px) {
  .skills i {
    margin-right: 0px;
    margin-bottom: 10px;
    display: inline-block; } }
@media (max-width: 786px) {
  .nav-toggle-wrapper,
  .side-nav i.fa-close {
    top: 20px;
    right: 20px; }

  .portfolio-image {
    max-width: 75%;
    height: auto; }

  h3 {
    font-size: 1.618em; }

  h2 {
    font-size: 2.618em; }

  p {
    font-size: .75em; }

  .subheader {
    font-size: 50%; }

  .about img {
    height: 140px; }

  .header .caption {
    padding: 10px; }

  i.fa-chevron-right {
    right: -10px; }

  i.fa-chevron-left {
    left: -10px; }

  .container > h2 {
    font-weight: 300;
    text-shadow: none; }

  .resume-link {
    display: block; }

  .about .about-text {
    font-size: 1.218em;
    width: 100%; }

  .mb {
    display: none; }

  h1 {
    font-size: 4.236em; }

  h3 {
    font-size: 1.618em; }

  .container {
    width: 90%; } }

/*# sourceMappingURL=compiled.css.map */
